<main>
    <article>

      <!-- 
        - #PORTFOLIO
      -->

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/webupdate.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="https://macsoicy.github.io/LiquidFactory.github.io/" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Full Stack Applcation</span>

                  <h3 class="title-md">Liquid Factory</h3>

                  <p class="card-text">
                   Urban Ecom website made for urban street wear/gear listed with name brand stocks and u can catch the new drop with a text whenever a new sneaker comes out.
                  </p>

                  <a href="https://macsoicy.github.io/LiquidFactory.github.io/" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/spacex.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href=" https://macsoicy.github.io/spacex.github.io/" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">sPACEx cLONE</h3>

                  <p class="card-text">
                    this website was to memic the real website of spacex.com, with this i can show u how dynamic but easy way how my skills align to creat something like this 
                  </p>

                  <a href=" https://macsoicy.github.io/spacex.github.io/" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/bmc.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="blockchain">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Full Stack Applcation</span>

                  <h3 class="title-md">Bake My Cake</h3>

                  <p class="card-text">
                  This Applcation was made for the user to order cakes cookies and brownies instintly with just a few clicks 
                  </p>

                  <a href="#" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/mello invest.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Blockchain Applcation</span>

                  <h3 class="title-md">'Mellow'Something Like Zillow </h3>

                  <p class="card-text">
                    with this applcation we can buy and sell any house listed on the blockchain, just as such u can if u was using the "zillow" we are hosted by the blockchain & FPS
                  </p>

                  <a href="#" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>